name: Generate Course List
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Generate links.json
        run: |
          python3 scripts/generate_links.py

      - name: Commit and Push
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add links.json
          git commit -m "Update course list with Storyline and H5P" || exit 0
          git push